@import 'bootstrap/dist/css/bootstrap.min.css';
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));


:root {
  --bs-primary: rgb(255, 82, 0) !important;
  --bs-primary-rgb: 255, 82, 0 !important;
}

a {
  color: inherit !important; /* Use parent text color */
  text-decoration: none !important;
}

a:hover {
  text-decoration: none !important;
}



@font-face {
  font-family: 'Gilroy-Bold';
  src: local('Gilroy-Bold'), url(./fonts/gilroy/Gilroy-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Gilroy-Medium';
  src: local('Gilroy-Medium'), url(./fonts/gilroy/Gilroy-Medium.ttf) format('truetype');
}

@font-face {
  font-family: 'Gilroy-Light';
  src: local('Gilroy-Light'), url(./fonts/gilroy/Gilroy-Light.ttf) format('truetype');
}

body {
  font-family: 'Gilroy-Medium', sans-serif !important;
}

@theme {
    --color-primary: rgb(255, 82, 0) !important;
    --color-success: rgb(27, 166, 114) !important;
    --color-neutral: #ffffff !important;
    --color-textdark: rgba(2, 6, 12, 0.92) !important;
    --color-textlight: rgba(2, 6, 12, 0.15) !important;
    --color-alert: #fa4a5b !important;
    --color-placeholder: #525252 !important;

    --text-xxl: 24px !important;
    --text-xl: 18px !important;
    --text-lg: 16px !important;
    --text-md: 13px !important;
    --text-sm: 8px !important;
    
    --font-weight-exbold: 800 !important;
    --font-weight-bold: 600 !important;
    --font-weight-medium: 400 !important;
    --font-weight-light: 200 !important;

    --radius-exrounded: 16px !important;
    --radius-mdrounded: 8px !important;
}

.accordion-button {
  background-color: white !important;
  --bs-accordion-btn-focus-box-shadow: none !important;
  --bs-accordion-active-color: rgba(2, 6, 12, 0.92) !important;

}

 /* //#1ba672 */